.navbar{
    background-color: #ffffff;
    padding: 10px 0;
    width: 100%;
    top: 0px;                
}

.navbar-list{
    display: flex;
    justify-content:flex-start;  
    align-items: center;
    list-style-type: none;
    font-size: large;
    margin-left: 200px;
}

.navbar-list a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 8px;
}

.navbar-list a:hover {
    color: rgb(148, 72, 72);
}

.logo{
    text-align: center;
    font-size: x-large;
}

body{
background-color: #ffffff;
}

.line{
    height: 1px;
    background-color: rgb(190, 190, 190);
}

.mockup-image{
    display: grid;
    place-items: center;
    margin-left: 200px;
    margin-top: 100px;
    height: 500px;
    width: 500px;
    border-style: ridge;
    border-color: black;
    border-radius: 5px;
    border-width: 5px;
}

.container{
    display: flex;
}

.product-info{
    margin-left: 250px;
    margin-top: 100px;
}